* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family:Segoe UI;
	background:white;
}
button {
	font-family:Segoe UI;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 60vh;
	align-items: center;
	flex-direction:column;
}
.introduction {
	flex: 1;
}
.intro-text p {
	font-size: 15px;
	font-weight: 400;
	background: linear-gradient(to right, BLACK, Grey);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	margin-bottom:20px;
	margin-top:20px;
}
.millions h1 {
	font-size: 60px;
	font-weight: 800;
	background: linear-gradient(to right, BLACk,black);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	font-family:Segoe UI;
	margin-bottom:20px;
	margin-top:20px;
}

.cta {
	padding: 20px 0px 0px 0px;
	margin:10px 20px 10px 0px;
	
	
}
.cta-select {
	border: 2px solid #f36b21;
	background: #f36b21;
	border-radius:20px;
	color: white;
	width: 150px;
	height: 47px;
	cursor: pointer;
	font-size: 16px;
	margin-left:20px;
	margin-right:40px;

}
.cta-add {
	background:#f36b21;
	border-radius:20px;
	width: 150px;
	height: 47px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin-right:20px;
	margin-left:60px;
}

.cta img {
	height:100%;
	width:100%;
	
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 40vh;
}
.cover img {
	height: 100%;
	animation: drop 1.5s ease;
}



.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 20%;
}

.bottom {
	position:relative;
	bottom:0;
	margin-top:140px;
	
}

.bottom p {
	text-align:center;
	color:grey;
	
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 0px 0px 0px 0px;
		margin-left:0;
		margin-right:0;
		
	}
	.cta-select {
		margin: 5px 5px 5px 5px;
		
	}
	.cta-add {
		margin: 5px 5px 5px 5px;
		
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.cover img {
		height: 70%;
	}
	.bottom{
		position:relative;
		bottom:5px;
		margin-top:60px;
	}
	
}
